<a href="https://colab.research.google.com/github/ferris77/my_notebooks/blob/main/python_tests/teste_inova_mind_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

def ano_mais_trabalhado(arg):
  """Método para calcular em qual ano houve mais pessoas trbalhando.

  Args:
        arg (lista) -> [[x1, y1], [x2, y2], ..., [xn, yn]]
        x é o ano de início, inclusive
        y é o ano de término, inclusive

  Return:
        print a informação do ano mais trabalhado e quantidade de trabalhadores
        no referido ano
        caso haja mais de um ano com o mesmo valor máximo, imprime várias vezes
  """

  matriz_dados = arg

  #converte os pares de anos x / y em intervalos

  lista_anos = []
  for x in range(len(matriz_dados)): 
    #adiciona a cada linha de lista_anos o range correspondente ao interfalo XY
    lista_anos.append(list(range(matriz_dados[x][0], matriz_dados[x][1]+1)))

  df = pd.DataFrame(matriz_dados, columns=['X', 'Y'])
  df["anos_trabalhados"] = lista_anos

  #explode a coluna anos_trabalhados, cada ano fica em uma linha

  df = df.explode('anos_trabalhados')
  
  #filtra a coluna anos_trabalhados considerando anos únicos e frequência
  #a lista já está na ordem decrescente

  df = df.anos_trabalhados.value_counts().to_frame()

  #passa por toda coluna e compara o primeiro item (ano mais frequente) com os
  #próximo, para o caso de haver mais de um ano com frequência máxima
  
  for x in range(len(df.index)):
    if (df.iloc[x][0]) == df.iloc[0][0]:
      print(f"O ano com mais pessoas trabalhando foi {df.index.tolist()[x]}" + 
      f" com um total de {df.iloc[x][0]} pessoas.")

In [ ]:
#usa uma base de dados criada para testar

uri = "https://raw.githubusercontent.com/ferris77/testes/aff512f984e9379e9ce7a7b40b8f95b9cf9c5607/dados_para_teste.csv"

dados_teste = pd.read_csv(uri)

dados_teste.head()

      X     Y
0  1950  2000
1  1986  2016
2  1987  2014
3  1960  2003
4  1956  2012

In [ ]:
ano_mais_trabalhado(dados_teste.values.tolist())

O ano com mais pessoas trabalhando foi 2000 com um total de 50 pessoas.