<a href="https://colab.research.google.com/github/ferris77/my_notebooks/blob/main/python_alura/02-introducao_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Este notebook foi usado para estudo da aula referente a introdução ML da Alura.
*   Aluno: Lucas Ferreira
*   Data: Fev/2021

In [ ]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri) #lê os dados do cvs associado a uri
dados.head() #mostra somente as primeiras 5 linhas dos dados

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
} #cria um dicionário para traduzir os títulos das colunas

dados = dados.rename(columns = mapa) #renomeia o título das colunas conforme o dicionário 'mapa' criado

In [ ]:
x = dados[["principal", "como_funciona", "contato"]] #separando o nosso X do modelo
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
y = dados[["comprou"]] #y do nosso modelo
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [ ]:
#separar treino do teste para não enviesas nossos resultados
dados.shape

(99, 4)

In [ ]:
#vamos estiamar 75% para treino e 25% para teste
treino_x = x[:75]
teste_x = x[75:]
treino_y = y[:75]
teste_y = y[75:]

print(f"Treinamos com {len(treino_x)} e testaremos com {len(teste_x)} elementos.")

Treinamos com 75 e testaremos com 24 elementos.

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC() #dá nome ao modelo que vamos usar, neste caso, LinearSVC
modelo.fit(treino_x, treino_y.values.ravel()) #treina o modelo com valores de x e y treino. Usar método ravel() para corrigir warning devido a dimensão teino_y
previsoes = modelo.predict(teste_x) #usa o método predict para gerar as previsões baseado nos valores de teste_x

taxa_de_acerto = accuracy_score(teste_y, previsoes) #calcula taxa de acerto (accuracy) usando a função já existente

print(f'A taxa de acerto foi {taxa_de_acerto*100:.2f}%')

A taxa de acerto foi 95.83%

A sepração feita pelo train_test_split pode ser aleatória, o que pode levar a resultados que mudam com o tempo. Definir uma SEED para evitar isso.

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split #biblioteca para fazer a separação do dataset em treino e teste

SEED = 20 #aleatoriedade segue uma semente
#stratify y para que siga a proporção de y no teste assim como está no treino, para evitar erros caso a selação aleatória só pegue dados para treinar onde não há compras

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)

modelo = LinearSVC()
modelo.fit(treino_x, treino_y.values.ravel()) #treina o modelo com valores de x e y treino. Usar método ravel() para corrigir warning devido a dimensão teino_y
previsoes = modelo.predict(teste_x) #usa o método predict para gerar as previsões baseado nos valores de teste_x


taxa_de_acerto = accuracy_score(teste_y, previsoes) #calcula taxa de acerto (accuracy) usando a função já existente

print(f'A taxa de acerto foi {taxa_de_acerto*100:.2f}%')

A taxa de acerto foi 96.00%

In [ ]:
treino_y.value_counts() #aproximadamente razão de 2 / 1

comprou
0          49
1          25
dtype: int64

In [ ]:
teste_y.value_counts() #aproximadamente razão de 2 / 1, se não setar o stratify pode oscilar bastante e levar a erros

comprou
0          17
1           8
dtype: int64